//Web fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,100);

//Color Variables
$orange:        #E65C43;
$grey:          #666;
$white:         #FFF;
$darkgrey:      #30353D;
$greybarcolor:  #F5F6F6;
$font-body:     'Roboto';


//Image Paths
$backgroundImage:   url('../images/bg.gif');
$logoImage:         url('../images/logo.png');
$socialMediaImage:  url('../images/social-media.png');